.container-img-plant {
  text-align: center;
  height: 15rem;
}

img {
  max-height: 100%;
  width: auto;
}

.btn {
  height: 40px;
  text-align:justify;
  /* margin-left: 50px; */
  margin-top: 15px;
}

.card-textArrosage{
  text-align: center;
  height: 20px;
  width: 80px;
  margin-left: 15px;
}

.card-textEnsoleil{
  text-align: center;
  height: 20px;  
  width: 90px;
  margin-left: 30px;
}

